.outer{
    border-radius: 18px;
    background: #252836;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 94vw;
    padding-top: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
}

.noDec{
    text-decoration: none;
}

table{
    border-collapse: collapse;
}

td{
    border-bottom: 2px solid rgba(196, 196, 196, 0.10);
    padding: 20px;
}

tr:first-child th:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr:first-child th:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tr{
    display: flex;

}

.thead{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #303343;
    height: 59px;
    color: #C2C2C2;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.crypto{
    width:27vw;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.coinLogo{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.coinName{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 72.222% */
    letter-spacing: 0.5px;
}

.coinAcro{
    width: 80px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #303343;
    color: #6B5DCC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; 
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    
}

.marketCap{
    width: 23vw;
    justify-content: center;
    align-items: center;
}

.coinValue{
    color: #A6A6A6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; /* 72.222% */
    letter-spacing: 0.5px;
}

.age{
    width: 12vw;
    align-items: center;
    justify-content: center;
}

.coinAge{
    color: #A6A6A6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 72.222% */
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
}

.vote{
    width: 12vw;
    display: grid;
    justify-content: center;
}

.coinVote{
    width: max-content;
    height: 32px;
    flex-shrink: 0;
    background: #1F1D2B;
    color: #6B5DCC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; 
    letter-spacing: 0.5px;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
}

.voteNum{
    margin: 4px;
}

.upVote-sym{
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background: #6B5DCC;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#upVote-arw{
    width: 20px;
    height: 20px;
}

.rank{
    width: 12vw;
    align-items: center;
    justify-content: center;
}

.coinRank{
    width: 55px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #6B5DCC;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
}