.adOuter{
    justify-content: center;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 40px;

}

.adInner{
    align-items: center;
    width: 98vw;
    border-radius: 18px;
    background: #6B5DCC;
    height: 113px;
    justify-content: space-between;
}

.adLogo{
    width: 58.888px;
    height: 71.855px;
    flex-shrink: 0;
    margin-left: 28px;
}

.adText{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.adPromo{
    color: #A6A6A6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px; 
    letter-spacing: 0.5px;
    align-self: flex-start;
    margin-top: 1em;
    margin-right: 1em;
}